PDS_LEDGER_MODE=demo
PDS_LEDGER_BACKEND=chaincode-runtime
PDS_CHAINCODE_STATE_PATH=./tmp/chaincode-world-state.json
PDS_FABRIC_CLIENT_ORG=FoodAndCivilSupplies
PDS_STATE_PATH=./tmp/pds-state.json
PDS_LEDGER_JOURNAL_PATH=./tmp/pds-ledger.ndjson
PDS_FABRIC_ENVELOPE_PATH=./tmp/pds-fabric-envelope.ndjson

# Fabric gateway mode (PDS_LEDGER_MODE=fabric)
PDS_FABRIC_PEER_ENDPOINT=peer0.food.example.com:7051
PDS_FABRIC_PEER_TLS_CERT_PATH=./blockchain/fabric-network/crypto/peerOrganizations/food.example.com/peers/peer0.food.example.com/tls/ca.crt
PDS_FABRIC_PEER_HOST_ALIAS=peer0.food.example.com
PDS_FABRIC_MSP_ID=FoodAndCivilSuppliesMSP
PDS_FABRIC_CERT_PATH=./blockchain/fabric-network/crypto/peerOrganizations/food.example.com/users/User1@food.example.com/msp/signcerts/User1@food.example.com-cert.pem
PDS_FABRIC_KEY_PATH=./blockchain/fabric-network/crypto/peerOrganizations/food.example.com/users/User1@food.example.com/msp/keystore
PDS_FABRIC_CHANNEL=pdschannel
PDS_FABRIC_CHAINCODE=pds-chaincode
